@font-face {
    font-family: 'SofiaSans-Regular'; 
    src: url('SofiaSans-Regular.otf');
}

@font-face {
    font-family: 'SofiaSans-ExtraBold'; 
    src: url('SofiaSans-ExtraBold.otf');
}


body {
    font-family: "SofiaSans-Regular";
    background: black;
}

h1, h2, h3 {
    font-family: "SofiaSans-ExtraBold";
    text-transform: uppercase;
    color: white;
    margin-top: 50px;
}

input {
    color: white !important;
}

p {
    color: white;
}

a {
    color: #0dcaf0;
}

button {
    font-family: "SofiaSans-ExtraBold";
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dash-header {
    font-family: "SofiaSans-ExtraBold";
    font-weight: bold;
}

.dash-cell-value {
    font-family: "SofiaSans-Regular";
}

.show-hide {
    display: none;
}
